#menu__form_todoadd {
    position: absolute;
    width: 30vw;
    width: 30dvw;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.89);
    opacity: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    box-shadow: 2px 2px 5px 1px #3f3f44;
}

label {
    color: white;
}

#menu__form_todoadd form {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#menu__form_todoadd form div {
    display: flex;
    flex-direction: column;
}

.menu__form_todoadd_header {
    box-shadow: 0 2px 5px -2px #4f4b4b;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3rem;
    color: white;
}

#menu__form_todoadd_X {
    position: absolute;
    right: 0.3rem;
    top: 0.3rem;
    fill: #fdfdfd;
}

#menu__form_todoadd_X:hover {
    fill: #de3a3a;
    cursor: pointer;
}

#menu__form_todoadd input {
    margin-bottom: 0.8rem;
}

input[type=text] {
    padding-left: 10px;
    height: 1.5rem;
}


#form_todo_submit {
    height: 1.5rem;
    width: 6rem;
    align-self: center;
    transition: all 0.5s;
    border: 2px white solid;
    color: #fdfdfd;
    background-color: black;
}

#form_todo_submit:hover {
    color: black;
    background-color: #ededed;
    cursor: pointer;
}

#form_todo_error {
    color: #de3a3a;
}