/*----Options - Buttons------*/
.options_button {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
    margin-right: 4rem;
}

.options_button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
}

#Filtertasks {
    outline: none;
    border: none;
    right: 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: #6c5ce7;
    box-shadow: 0px 5px 0px 0px #a29bfe;
    transition: all linear 0.2s;

}

#Filtertasks:hover {
    color: #fff;
    background-color: #655da2;
}


#Filtertasks option {
    outline: none;
    border: none;
    position: absolute;
    right: 0;
    border-radius: 2px;
    font-weight: 500;
    color: #6c5ce7;
    background-color: white;
    height: 3rem;
}

/*-------------------button alignment--------------------------------*/

#add_Task {
    margin-left: auto;
}

/*------------*/

#TodoManager-container_options {
    display: flex;
    margin: 4rem 0 0 15%;
    width: 70%;
    align-items: center;
    position: relative;
}

#TodoManager-container {
    position: relative;
    height: 80vh;
    height: 80dvh;
}

#TodoManager-container_options_Titles {
    font-family: 'Josefin Sans', sans-serif;
    width: 25%;
    font-size: 2.5rem;
}

/*----------------------*/

#TodoManager-container_Todos {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: 65vh;
    overflow-y: auto;
}

button[disabled] {
    background-color: grey;
}

button[disabled]:active {
    transform: none;
    box-shadow: 0px 5px 0px 0px #a29bfe;
}


button[disabled]:hover {
    cursor: no-drop;
}


/*--------------Media Queries---------------*/

@media screen and (max-width: 450px) {
    /*----Options - Buttons------*/
    .options_button {
        border: none;
        outline: none;
        background-color: #6c5ce7;
        padding: 5px 10px;
        font-size: 8px;
        font-weight: 700;
        color: #fff;
        border-radius: 5px;
        transition: all ease 0.1s;
        box-shadow: 0px 5px 0px 0px #a29bfe;
        margin-right: 1rem;
    }


    #Filtertasks {
        outline: none;
        border: none;
        right: 0;
        padding: 5px 10px;
        border-radius: 5px;
        font-weight: 700;
        color: #6c5ce7;
        font-size: 8px;
        box-shadow: 0px 5px 0px 0px #a29bfe;
        transition: all linear 0.2s;

    }


    #Filtertasks option {
        outline: none;
        border: none;
        position: absolute;
        right: 0;
        border-radius: 2px;
        font-weight: 500;
        color: #6c5ce7;
        background-color: white;
        height: 1rem;
    }

    /*-------------------button alignment--------------------------------*/

    #add_Task {
        margin-left: auto;
    }

    /*------------*/

    #TodoManager-container_options {
        display: flex;
        margin: 4rem 0 0 10%;
        width: 85%;
        align-items: center;
        position: relative;
    }

    #TodoManager-container {
        position: relative;
        height: 80vh;
        height: 80dvh;
    }

    #TodoManager-container_options_Titles {
        font-family: 'Josefin Sans', sans-serif;
        width: 25%;
        font-size: 1.5rem;
    }

    /*----------------------*/

    #TodoManager-container_Todos {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        height: 70vh;
        overflow-y: auto;
    }

}